.BodyKanbanSection {

    width: 18vw;
    height: 73vh;
}

.TopSectionKanban {
    height: 40px;
    border-bottom: 3px solid #B2B9BF;
    display: flex;
}

.TopSectionKanban h3 {
    font-family: Ubuntu;
    font-weight: 500;
    font-size: 18px;
    margin-right: 20px;
}

.TopSectionKanban p {
    font-family: Ubuntu;
    font-weight: 500;
    color: #b6b9c2;
    font-size: 18px;
    margin-right: 20px;
}

.InfoTop {
    display: flex;
    width: 15vw;
}

.points {
    width: 3vw;
    display: flex;
    justify-content: end;
    letter-spacing: 4px;
    font-size: 20px;
    color: #b6b9c2;
    cursor: pointer;
}

.points p {
    margin-right: 20px;
}

.TaskButton {
    cursor: pointer;
    background-color: white;
    margin-top: 20px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid#B2B9BF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TaskButton img {
    width: 20px;
    margin-right: 20px;
}

.TaskButton p {
    font-family: Ubuntu;
    color: #007DFE;
    font-size: 16px;
}

