.BodyCard {
    cursor: pointer;
    height: 180px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #B2B9BF;
    margin: 20px 0px;
    padding: 0px 20px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

.TitleTask {
    margin-top: 25px;
    margin-bottom: 10px;
    display: flex;

;
}

.TitleTask h4 {
    font-size: 18px;
    font-family: Ubuntu;
}

.TitleTask img {
    width: 50px;
}

.DescriptionTask {
    color: #7a7979;
    font-family: Ubuntu;
    font-weight: 200;
    height: 38px;
}

.TopContent{
    height: 125px;

}

.BottomPart {

    height: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.BottomPart img {
    width: 20px;
    margin-right: 8px;
}


.TaskDate{
    display: flex;
    align-items: center;
    font-family: Ubuntu;
    font-size: 15px;
    color: #7a7979;
}

.Urgency {
    font-family: Ubuntu;
    color: red;
    font-size: 15px;
    border: 1px solid red;
    padding: 5px 10px;
    border-radius: 5px;
}

.High {
    font-family: Ubuntu;
    color: orangered;
    font-size: 15px;
    border: 1px solid orangered;
    padding: 5px 10px;
    border-radius: 5px;
}

.Normal {
    font-family: Ubuntu;
    color: green;
    font-size: 15px;
    border: 1px solid green;
    padding: 5px 10px;
    border-radius: 5px;
}

.Baixo {
    font-family: Ubuntu;
    color: lightseagreen;
    font-size: 14px;
    border: 1px solid lightseagreen;
    padding: 5px 10px;
    border-radius: 5px;
}

.Flag img {
    width: 40px;
    margin-right:20px;
    height: 40px;
    position: sticky;
}

.Flag {
    position: absolute;
    width: 17vw;
    height: 50px;
    display: flex;
    justify-content: end;
}
